<template id = "award">
<div class = "award">
    <div class = "award-left">
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                Increased user experience scores by 55% for last project.
            </div>
        </div>
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                Prototyped an average of 25 new product features per year.
            </div>
        </div>
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                Completed all projects within deadlines, securing at least 90% client satisfaction scores.
            </div>
        </div>
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                Deployed new features with 10% higher performance than historical avg.
            </div>
        </div>
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                received recognition from global client on Agile.
            </div>
        </div>
        <div class = "award-section">
            <div class = "award-symbol">
                <i class="fas fa-award fa-3x"></i>
            </div>
            <div class = "award-topic">
                Quality performance and accuracy 99%.
            </div>
        </div>
    </div>
    <div class = "award-right">
        <i class="fas fa-medal fa-10x"></i>
    </div>
</div>


<style>
    .award {
        width: 55vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
    }
    .award-left {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .award-right {
        width: 25%;
        display: flex;
        justify-content: space-around;
        
    }
    .award-section {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        transition: 0.5s ease-out;
        border-radius: 20px;
        box-shadow: 10px 10px 10px lightgray;
    }
    .award-section:hover {
        box-shadow: 0 0 0 #ffffff;
        border: 2px solid lightgray;
    }
    .award-symbol {
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .award-topic {
        width: 80%;
        height: 100%;
        font-family: Aleo;
        display: flex;
        
        align-items: center;
    }
    .fa-award {
        color: royalblue;
    }
    .fa-medal {
        color: gold;
        
    }
</style>
</template>



<script src="https://kit.fontawesome.com/7d2d0643b6.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>