<template id = "interests">
    <div class = "interests-main-container">
        <div class = "interests-container">
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-laptop-code fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Computing
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-swimmer fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Swimming
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-book-open fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Reading
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-cloud-meatball fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Cooking
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-suitcase-rolling fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Traveling
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-futbol fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    FootBall
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-gamepad fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Video Games
                </div>
            </div>
            <div class = "interests">
                <div class = "interests-symbol">
                    <i class="fas fa-space-shuttle fa-3x"></i>
                </div>
                <div class = "interests-topic">
                    Astronomy
                </div>
            </div>
        </div>

    </div>

    <style>
        .interests-main-container {
            width: 55vw;
            height: 90vh;
            display: flex;
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
        }
        .interests-container {
            width: 590px;
            height: 320px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .interests {
            width: 250px;
            height: 50px;
            display: flex;
            box-shadow: 10px 10px 10px lightgray;
            justify-content: space-around;
            align-items: center;
            border-radius: 10px;
            
        }
        
        .interests-symbol {
            display: flex;
            width: 30%;
            height: 100%;
            justify-content: center;
        }
        .interests-topic {
            display: flex;
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-family: Aleo;
        }
        .fas {
            color: royalblue;
        }
    </style>
   

</template>

